.forecast{
    &-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-day{
        margin: 35px;

        &__container{
            display: flex;
        }
    }
}